{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Pop Sushi</title>


    <link rel="stylesheet" type="text/css"  href="{% static 'css/estilos.css'  %}"> 
    <meta name="viewport"
        content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
        <link href="https://file.myfontastic.com/t5tNwfwUapz4yDzK3B6sfe/icons.css" rel="stylesheet"> 
        <script src="https://use.fontawesome.com/502b7294a9.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> <!-- untilizo un scripts de jquery -->
        
	
    
    <style>

    </style>
</head>

<body> 

          <div id="preloader"> <!-- se usa id porque utilizaremos jquery--> 
           <div id="loader"></div>
        </div>

      <!--  barra de redes sociales --> 
        <div class="red">
                <div id="facebook"><a href="https://www.facebook.com" target="none" class="fa fa-facebook"></a></div>
                <div id="youtube"><a href="https://www.youtube.com"  target="none" class="fa fa-youtube-play"></a></div>
                <div id="twitter"><a href="https://twitter.com/?lang=es"  target="none" class="fa fa-twitter"></a></div>
                <div id="correo"><a href="https://accounts.google.com/ServiceLogin/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"  target="none"class="fa fa-envelope"></a></div>
          </div>

    <header class="header" id="headerr">
        <div class="contenedor">
      <img src= "{% static  'img/logo.png'  %}"  class="logo">
            <span class="icon-menu" id="btn-menu"></span>
            <nav class="nav" id="nav">
                <ul class="menu">
                    <li class="menu__item"><a href="#headerr" class="menu__link">Inicio</a></li>
                    <li class="menu__item"><a href="#quienessomos" class="menu__link">Quienes Somos</a></li>
                    <li class="menu__item"><a href="#galeriafotos" class="menu__link">Menú</a></li>
                    <li class="menu__item"><a href="#eventoespeciales" class="menu__link">Evento Especiales</a></li>
                   <li class="menu__item"><a href="#Contacto" class="menu__link">Contacto</a></li>
                         

                  {% if user.is_authenticated %}     
                  <li class="menu__item"><a href="/logout" class="menu__link">Cerrar sesion</a></li>
                  {% else %}
                   <li class="menu__item"><a href="{% url 'register' %}" class="menu__link">registrate</a></li>
                   <li class="menu__item"><a href="{% url 'login' %}" class="menu__link">Login</a></li>
                  {% endif %}
               





                </ul>
            </nav>
        </div>

    </header>
      <div class="carrusel" >
                      <ul>
                        <li><img src= "{% static  'img/img1.jpg'  %}"></li>
                                    <li><img src= "{% static  'img/img2.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img3.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img4.jpg' %}"></li>
         </div> 
  

   
    <main>
            <section class="quienes" id="quienessomos">
                    <div class="contenedor">
                        <h3 class="quienes-titulo">Quienes somos </h3>
                        <p class="quienes-parrafo">Nuestra misión es entregar el mejor SUSHI a nuestros clientes con ingredientes frescos, en un formato adecuado y en el menor tiempo posible.
                                Para ello contamos con experimentados cocineros, selectos proveedores y suministros de alta calidad.
                                Como local anexo a Pop Sushi Restaurant nuestros estándares son los más altos tanto en preparación, cuidado y presentación de nuestras recetas.
                                Encontrará preparaciones tradicionales que garantizan una experiencia única para aquellos que no nos conocen y la tradición de siempre para nuestros clientes de toda la vida.</p>
                     </div> 
                 </section>
         
                 <section class="galeria" id="galeriafotos">
                        <div class="contenedor">
                            <div class="galeria_texto">
                                <h2>Descubre Nuestro Menú</h2>
                                <p>Ven y aprovecha todo de la comida occidental </p>
                            </div>
                            <section class="galeria1">
                                <div class="fotos">
                                    <img src= "{% static 'img/1.jpg'  %}">
                                </div>
                                 <div class="fotos">
                                    <img src= "{% static 'img/2.jpg'  %}">
                                </div>
                                <div class="fotos">
                                    <img src= "{% static 'img/3.jpg'  %}">
                                </div>
                                <div class="fotos">
                                    <img src= "{% static 'img/4.jpg'  %}">
                                </div>
                                <div class="fotos">
                                    <img src= "{% static 'img/5.jpg'  %}">
                                </div>
                                <div class="fotos">
                                    <img src= "{% static 'img/6.jpg'  %}">
                                </div>
                            </section>
                        </div>
                    </section>     

        
        <section class="especial"id="eventoespeciales">
                <h3 class="programas__titulo">Eventos especiales</h3>
                <h4 class="programas__txt">Restaurant Rinconada es un lugar ideal para reuniones y comidas de negocios,
                    cumpleaños, eventos privados, etc.
                </h4>
           <div class="contenedor">  
               <article class="especial__columna1">
             <img src= "{% static  'img/111.jpg'  %}" alt="" class="especial__img">
                   <div class="informacion">
                   <h3 class="especial__titulo">Eventos sociales</h3>
                   <p class="especial__txt">Pop Sushi  Cuenta con una Gran Gama  de Comida Oriental en 
                       el cual Ofrece para Reuniones, Celebraciones Privadas y Hasta Publico.
                        
                  </p>
                   <button class="button">Realiza tú Cotización</button></div>
               </article>
                 <article class="especial__columna2">
             <img src= "{% static 'img/222.jpg'  %}" alt="" class="especial__img">   
                     <div class="informacion">
                   <h3 class="especial__titulo">Eventos Empresariales</h3>
                   <p class="especial__txt">Pop Sushi cuenta con una dilatada experiencia en
                        organización de eventos empresariales desde Congresos y reuniones a comidas de empresa.
                  </p>
                     <button class="button">Realiza tú Cotización</button> </div>
               </article>
               
                 <article class="especial__columna3">
             <img src= "{% static  'img/333.jpg'  %}"  alt="" class="especial__img">   
                     <div class="informacion">
                   <h3 class="especial__titulo">Matrimonios</h3>
                   <p class="especial__txt">Al contrarar Pop Sushi Garantiza una Gran banqueteria de
                        Nuestra
                        Gastronomía Oriental Para Celebrar El Día de tú Boda.
                  </p>
                     <button class="button">Realiza tú Cotización</button></div>
               </article>
               </div>
              
               <section class="mapa">
                    <div class="contenedor">
                  <div class="mapa__iframe">
                       <h3>Como Llegar </h3>
                  <p>Yerbas Buenas, Penco,Chile</p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.3952258486206!2d-72.99299548523429!3d-36.73708337996158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96684ca99aeafa77%3A0xdcd6bd0baecd7c5d!2zWWVyYmFzIEJ1ZW5hcywgUGVuY28sIFJlZ2nDs24gZGVsIELDrW8gQsOtbw!5e0!3m2!1ses-419!2scl!4v1567994389215!5m2!1ses-419!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
                   </div>
              </section> 
      

    </main>
   

<script src= "{% static   'js/jquery.js'  %}"></script>
<script src = "{% static  'js/menu.js'   %}"></script>

</html>